.input-text {
    padding: .8rem;
    margin-right: .3rem;
    width: 77%;
    height: 2.2rem;
    background: rgb(240, 242, 242);
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}



.input-text:hover {
    border-style: solid;
    border-color: rgb(138, 200, 245);
}

.input-text.highlighted:hover {
    border-style: solid;
    border-color: rgb(175, 240, 199);
}




.add-btn {
    width: 21.7%;
    height: 2.2rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(138, 200, 245);
    cursor: pointer;
}

.add-btn:hover {
    /* border-style: none; */
    color: white;
    background: rgb(31, 132, 214);


    /* border-color: rgb(122, 120, 120); */
}


.edit {
    color: white;
    background: rgb(94, 194, 131);

}

.add-btn.edit:hover {
    background: rgb(18, 148, 65);
}







@media (max-width:450px) {
    form {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #add-btn {
        margin-top: 8px;
    }
}