.edit-icon {
    padding: .3rem;
    border-radius: 4px;
    background: rgb(116, 191, 244);
    color: black;
    width: 1.3rem;
    height: 1.3rem;
}

.edit-icon.clicked {
    background: rgb(94, 194, 131);
}

.edit-icon:hover {
    background: rgb(94, 194, 131);
}